---
// This script area is where you can do imports and define JavaScript
import '../styles/BannerStyles/_index.scss';
---

<section class="banner-section">
  <div class="container">
    <div class="banner-content">
      <div class="banner-content__text">
        <h2>Save big with our cheap car rental!</h2>
        <p>
          Top Airports. Local Suppliers. <span>24/7</span> Support.
        </p>
      </div>
    </div>
  </div>
</section>
